ctags.tmp
*/ctags.tmp
/*/ctags.tmp
/*/*/ctags.tmp
/*/*/*/ctags.tmp
/*/*/*/*/ctags.tmp
/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/*/*/*/*/ctags.tmp
/*/*/*/*/*/*/*/*/*/*/*/*/ctags.tmp